header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  margin: 5px 10px 5px;
}

.header {
  &_logo {
    height: 45px;
    width: 175px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

header {
  > .project_button.round {
    margin-right: 15px;
  }

  > .right {
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .header {
    &_logo {
      width: 130px;
    }
  }

  header {
    > .project_button.round {
      margin-right: 10px;
    }
  }
}
